@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #cdffcd;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  transition: transform 0.5s linear;
  
}

.circle {
  background-color: #90EE90;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

.container.show-nav + .circle-container {
  transform: rotate(-90deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav ~ nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 14px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;

}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
  margin: 40px 0;
}
/*
.home-page-body{
      background-image:url("https://thejournal.cii.co.uk/sites/default/files/images/features-building-a---0.png");
    background-repeat: no-repeat;
    background-size: cover;
}*/

.logo{
    margin-top:0px;
    margin-left:400px;
    margin-right:400px;
    margin-bottom:20px;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

.about{
text-align:center;
font-size:30px;
color:green;
font-weight:bolder;
font-family:'PT Sans Narrow', sans-serif;;
padding:10px 10px 10px 10px;
}

.title{
text-align:center;
font-size:50px;
color:#0c330c;
/*#65a765;*/
font-weight:8px;
font-family:'Pacifico', cursive;;
}

.rbutton{
    color:green;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 5px;
    font-size: 20px;
    border-radius: 50em;
    border-color: green;
    border-style: solid;
    padding: .8em 2em;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    align-items: center;
    margin-left:350px;
    margin-right:300px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   }

   .shadow{
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   }

.rbutton:hover{
    transform:scale(1.02);
    color:white;
    background-color: lightgreen;
    border-color:green;
    box-shadow: 0 0 1.5px lightgreen, 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
}

.two{
    background-color:none;
    padding:15px 15px 15px 15px;
    text-align:center;
font-size:25px;
color:green;
font-weight:bolder;
font-family:'PT Sans Narrow', sans-serif;;
padding:10px 10px 10px 10px;

}

.sbutton{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2px;
    font-size: 25px;
    border-radius: 50em;
    border-color: green;
    border-style: solid;
    padding: .5em 2em;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    align-items: center;
    margin-left:40px;
    margin-top:10px;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   }

   input{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2px;
    font-size: 15px;
    border-radius: 50em;
    border-color: green;
    border-style: solid;
    padding: .9em 1em;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    align-items: center;
    box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
   }

   .thumbnail{
       height:10%;
       width:10%;
       float:left;

   }

   .small{
    height:6%;
    width:6%;
}

   .res-title{
       margin-top:10px;
    font-size:30px;
    color:#0c330c;
    font-weight:8px;
    font-family:'Pacifico', cursive;;
    margin-left:10px;
    }

    .ceil{
        margin-top:5px !important;
    }

   
    .post{
        height:50%;
        width:50%;
        margin:10x 10px 10px 10px;
        border-color:black;
        border-style: solid;
        border-width:3px;
        background-color: white;
        margin-top:10px;
        box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    }

    .post-img{
        height:70%;
        width:90%;
        padding-left:20px;
        padding-right:20px;
        margin-left:20px;
        margin-right:20px;
        box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    }


    .profile{
        border-width: solid;
        border-radius: 50%;
        border-color:White;
        border-width:10px;
        height:10%;
        width:10%;
        float:left;
        margin-left:20px;
       font-weight: bold;
       box-shadow: 0 0 1.5px rgb(0 0 0 / 2%), 0 0 3.6px rgb(0 0 0 / 3%), 0 0 6.8px rgb(0 0 0 / 4%), 0 0 12.1px rgb(0 0 0 / 4%), 0 0 22.6px rgb(0 0 0 / 5%), 0 0 54px rgb(0 0 0 / 7%);
    }

    .name-time{
        margin-top:10px;
        font-size:15px;
        color:black;
        font-weight:bolder;
        padding-left:20px;
    }

@media (max-width:576px) {
    .logo{
        margin-top:20px;
        margin-left:40px;
        margin-right:40px;
        margin-bottom:20px;
        align-items: center;
    }

}
